/*
 * -------------------------------------------------
 *  Nextflow config file for Singularity
 * -------------------------------------------------
 */

params {
  max_cpus = 48
  max_memory = 128.GB
  max_time = 240.h

  containerPath = "/data/bioinfo/rnafusion_tools-img/rnafusion_containers_v${params.container_version}"
  container = "${params.containerPath}/rnafusion_v${params.container_version}.img"
  }

process {
  container = params.container

  withName:star_fusion {
    container = "${params.containerPath}/rnafusion_star-fusion_v${params.container_version}.img"
  }
  withName:fusioncatcher {
    container = "${params.containerPath}/rnafusion_fusioncatcher_v${params.container_version}.img"
  }
  withName:fusion_inspector {
    container = "${params.containerPath}/rnafusion_fusion-inspector_v${params.container_version}.img"
  }
  withName:ericscript {
    container = "${params.containerPath}/rnafusion_ericscript_v${params.container_version}.img"
  }
  withName:pizzly {
    container = "${params.containerPath}/rnafusion_pizzly_v${params.container_version}.img"
  }
  withName:squid {
    container = "${params.containerPath}/rnafusion_squid_v${params.container_version}.img"
  }
  withName:summary {
    container = "${params.containerPath}/rnafusion_summary-report_v${params.container_version}.img"
  }
}
